<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="myModalLabel">Success!</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <p class="col-xs-12 col-md-10 col-md-offset-1"><%= PinterestClone.freshUser ? "Your account was created successfully! Please be sure to check your e-mail to confirm your new account." : "Login successful!" %></p>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button class="btn btn-info greet-modal-okay">Cool</button>
  </div>
</div>