<div class="jumbotron">
  <div class="container">
    <h1>Finally, a website that looks just like another website.</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-offset-1 col-md-5 col-lg-5 col-lg-offset-1">
      This is a Pinterest clone that doesn't do much besides look pretty and let you log in with one of five accounts.

      You know you've been waiting for it.
    </div>
    <div class="col-xs-6 col-md-offset-1 col-md-5 col-lg-5 col-lg-offset-1">
      Features:
      <ul>
        <li>Fancy double columns</li>
        <li>A library-built pile of pretty picture brick boards</li>
        <li>A crapton of pins</li>
        <li>Smiley branding</li>
      </ul>
    </div>
  </div>
</div>