<div class="jumbotron">
  <div class="container">
    <h1>I ran out of ipsums to put here.</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-offset-1 col-md-5 col-lg-5 col-lg-offset-1">
      Hey, look at this! Finally, a website that looks just like another website!
    </div>
    <div class="col-xs-6 col-md-offset-1 col-md-5 col-lg-5 col-lg-offset-1">
      It even has fancy double columns! Wowee gee whiz bang!
    </div>
  </div>
</div>