<% boards.each(function (board) { %>
  <div class="panel">
    <img src="<%= board.escape("image_url") %>" class="img-thumbnail img-responsive"></img>
    <p class="text-center"><%= board.escape("name") %></p>
  </div>
<% }); %>