<a href="#" class="dropdown-toggle" data-toggle="dropdown">
Welcome, <%= PinterestClone.currentUser.name || PinterestClone.currentUser.email %>!
<b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="#">Action</a></li>
  <li><a href="#">Another action</a></li>
  <li><a href="#">Something else here</a></li>
  <li class="divider"></li>
  <li><a href="Log Out" class="sign-out-link">Sign Out</a></li>
</ul>