<form class="navbar-form navbar-right" role="form">
PinterestClone - Log in or sign up! --->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="E-mail">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <input type="button" value="Sign Up/In" class="btn btn-success submitCredentials">
</form>