<li id="users-link">
  <a href="#/users/index" class="internal-link">Users <span class="glyphicon glyphicon-user"></span></a>
</li>

<li id="friends-link">
  <a class="internal-link">Friends <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></a>
</li>