<li id="usersNavButton" class="visibleWhenLoggedIn">
  <a href="#users&#47;index" class="internal-link">Users <span class="glyphicon glyphicon-user"></span></a>
</li>

<li id="friendsNavButton" class="visibleWhenLoggedIn">
  <a class="internal-link">Friends <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></a>
</li>