<li id="usersNavButton">
  <a href="#/users/index" class="internal-link">Users <span class="glyphicon glyphicon-user"></span></a>
</li>

<li id="friendsNavButton">
  <a class="internal-link">Friends <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></a>
</li>