Tack - Be our <a href="Guest Login" class="guest-login">guest</a>, log in, or sign up! 
<div class="form-group main-email-group">
  <input type="text" class="form-control email-input" id="main-sign-in-text" placeholder="E-mail">
</div>
<div class="form-group main-password-group">
  <input type="password" class="form-control password-input" id="main-sign-in-password" placeholder="Password">
</div>
<input type="button" value="Sign Up/In" class="btn btn-success submit-credentials">