/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#content { 
  padding: 0 15px;
}

.board-mini-avatar {
  float: left;
  height: 38px;
  width: 38px;
  border-radius: 2px;
}

.board-panel-container {
  width: 236px;
}

.board-panel {
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px #888888;
}

.board-author-note {
  line-height: 50%;
  font-size: 14px;
  display: inline;
  position: relative;
  left: 6px;
  top: 6px;
  color: #B7B7B7;
}

.board-author-note a {
  color: inherit;
}

.img-board {
  border-radius: 5px;
  margin-top: 5px;
}

.pin-panel-container {
  width: 236px;
}

.pin-panel {
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 2px 5px #888888;
}

.img-pin {
  border-bottom: 1px solid;
  border-color: lightgrey;
}

.pin-author-note {
  line-height: 45%;
  display: inline;
}

.pin-author-note a {
  position: relative;
  left: 5px;
  top: 5px;
}

.pin-author-name a {
  color: black;
}

.pin-board-name a {
  color: #B7B7B7;
}

.pin-description {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: lightgrey;
}

.pin-footer {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
}

.pin-mini-avatar {
  float: left;
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.navbar-form.pull-right {
  margin-right: 8px;
}

.board-author-note strong {
  color: black;
}

.sample-pins {
  text-align: justify;
  font-size: 0.1px; /* IE 9/10 don't like font-size: 0; */
  margin-top: 5px;
}
.sample-pin {
  width: 24%;
  display: inline-block;
  border-radius: 3px;
}

.sample-pins:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
  overflow: hidden;
}

.btn-board {
  margin-top: 5px;
  width:100%;
}